:root {
  --w: 1920;
  --h: 1080;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  height: 100%;
  background: #000;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.frame {
  position: relative;
  width: min(100vw, calc(100vh * (var(--w) / var(--h))));
  aspect-ratio: 1920 / 1080;
}

.layout {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

/* BOTÕES */

.hotspot {
  position: absolute;
  z-index: 10;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotspot img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

/* POSIÇÕES */

#heartBtn {
  left: 64.6%;
  top: 75.4%;
  width: 4%;
  height: 6%;
}

#playBtn {
  left: 71.2%;
  top: 71.8%;
  width: 7%;
  height: 11%;
}

#volumeBtn {
  left: 80.1%;
  top: 75.2%;
  width: 4%;
  height: 6%;
}

/* VOLUME */

.volume-panel {
  position: absolute;
  z-index: 20;
  left: 69.8%;
  top: 65.8%;
  width: 15%;
  height: 6%;
  display: none;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background: rgba(0,0,0,0.7);
}

.volume-panel.show {
  display: flex;
}

.volume-panel input {
  width: 100%;
}

/* PLAYER ESCONDIDO */

#yt-player {
  position: fixed;
  left: -9999px;
  top: -9999px;
  width: 300px;
  height: 200px;
}

/* MOBILE */

@media (max-width: 768px) {

  #heartBtn {
    left: 60%;
    top: 76%;
    width: 7%;
    height: 8%;
  }

  #playBtn {
    left: 69%;
    top: 73%;
    width: 12%;
    height: 13%;
  }

  #volumeBtn {
    left: 82%;
    top: 76%;
    width: 7%;
    height: 8%;
  }

  .volume-panel {
    left: 58%;
    top: 66%;
    width: 28%;
    height: 7%;
  }
}
